.logo {
    width: 60px;
    height: 45px;
  }

  .font-color {
    color: map-get($colores, white )!important;
    margin: 0;
  }

  .nav-cont {
    display: flex;
    flex-direction: row;
    justify-content: end;
    ul{
      li{
        a{
          &:hover{
            filter: saturate(100)!important;
        }
      }
    }
  }
  }
  .title-nav {
    display: flex;
  }

  .navbar-toggler {
    background-color: #3f4448;
  }
