/* Estilos Generales*/

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;600&family=Montserrat:wght@100;200;400&family=Nanum+Gothic:wght@400;700&family=Water+Brush&display=swap");

$colores: (
  black: #191919,
  white:#fff7ec,
  bg: linear-gradient(to bottom, #fff7ec, #fff7ec, #fff7ec, #fff7ec, #fff7ec, #fdf4e9, #fbf2e5, #f9efe2, #f5e9da, #f0e3d3, #e7d8c4, #d6c4ac)
);

@mixin flex-row-center{
	display:flex;
	justify-content:center;
  align-items: center;
}


@import "_header";
@import "_footer";

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth
}

#root {
    background-color: map-get($colores, white );
    width: 100%;
    height: 100vh;
}


/* Estilos Inicio */

.galeria-index {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 0px;
  margin-right: 0px;
  .cards-row{
    display: flex;
    justify-content: center;
    gap: 55px;
    .card-cont {
      width: 25pc;
      height: 20pc;
      @include flex-row-center;
      flex-direction: column;
      border: none;
      transition: transform 0.5s;
      img {
        width: 100%;
        height: 100%;
        filter: grayscale(1);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        &:hover{
          filter: none;
        }
      }
      &:hover{
          transform: scale(1.1,1.1);
      }
      .text-img {
          margin: 0;
          background-color: map-get($colores , black ); 
          color: map-get($colores, white );
          width: 100%;
          font-family: 'Montserrat', sans-serif;
          text-align: center;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;   
      }
    }
  }
}

  
/* Estilos Servicios */ 

.galeria-serv {
  .cards-row{
    @include flex-row-center;
    flex-direction: row;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: map-get($colores, bg );
    gap: 5vh;
    font-family: 'Montserrat', sans-serif;
    .card {
      width: 40vh;
      height: 80vh;
      background-color: rgb(220, 219, 219);
      border-style: none;
      transition: transform 0.5s;
      &:hover{
        transform: scale(1.05,1.05);
      }
      img {
        height: 40vh;
        margin: 1vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
      }
    }
  }
  }

  /*Estilos Galería de Nuestros Trabajos*/ 

  .galeria-obras {
    @extend .galeria-index;
    gap: 7vh;
    padding: 3vh;
  }

  /*Estilos Nosotros*/ 

  .nosotros {
    height: 100%;
    width: 100%;
    background-image: map-get($colores, bg );
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: map-get($colores , black );
    .foto-nos {
      display: flex;
      justify-content: start;
      align-items: center;
      width: 50%;
      img{
        height: 61vh;
        border-radius: 10px;
        margin: 5vh;
      } 
    }
    .text-nos {
      @extend .foto-nos;
      justify-content: end;
      font-size: 1.85rem;
      span{
        font-style: italic;
        font-weight: bold;
      }
    } 
  }

  /*Estilos de Contacto*/ 

  .contacto {
    width: 100%;
    height: auto;
    @include flex-row-center;
    .formulario {
      @include flex-row-center;
    }
    .form {
      padding: 5vh;
      @include flex-row-center;
      flex-direction: column;
      gap: 3vh;
      .form-2 {
        @include flex-row-center;
        flex-direction: column;
        gap: 3vh;
        div{
          .datos {
            background-color: map-get($colores, black );
            color: map-get($colores, white );
            text-align: center;
            @include flex-row-center;
            flex-direction: column;
            width: 40vh;
            height: 3vh;
            border-radius: 10px;
            border-style: none;
            transition: transform 0.5s;
            &:hover {
              transform: scale(1.1,1.1);
            }
          }
          .consulta {
            @extend .datos;
            height: 15vh;
            width: 60vh;
          }
          .boton {
            @extend .datos;
            width: 10vh;
          }
        }
      }
  
    }
    .mapa {
      padding: 5vh;
      @include flex-row-center;
      flex-direction: column;
      gap: 2vh;
      iframe {
        border-radius: 10px;
        transition: transform 0.5s;
        &:hover {
          transform: scale(1.1,1.1);
      }
      }
    }
  }